Package: capers
Version: 0.1.2~precise
Priority: optional
Section: unknown
Essential: no
Architecture: all
Maintainer: Nevyn Hira <nevynh@gmail.com>
Description: Handles unattended upgrades transparenty (unattended) with blacklist functionality.
